<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.mapper.RoleMapper">
    <resultMap id="roleMap" type="role" >
        <collection property="permissions" ofType="permission" column="id" select="cn.itcast.mapper.PermissionMapper.findByRid"/>
    </resultMap>

    <select id="findByUid" parameterType="string" resultMap="roleMap">
        SELECT * from users_role ur, role r where ur.userId=#{uid} and ur.roleId=r.id
    </select>

</mapper>